.container1{
    border: 1px solid black;
    margin:auto;
    width: 70%;
    text-align: center;
    
}
.flex_box_container1 ,.flex_blackjack_row1,.flex_blackjack_row2{
    display: flex;
    border:1px solid black;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction:row;
}
.flex_box_container1 div{
    display: flex;
    padding: 10px;
    border: solid black 1px;
    align-items: center;
} 
.flex_box_container2,.flex_box_container3{
    display: flex;
    border: solid black 1px;
    flex-wrap: wrap; 
    justify-content: space-around;  
}
.flex_box_container2 img,.flex_box_container3 img{
    margin: 10px;
    width: 150px;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.7);
}
.flex_box_container3 img:hover{
    box-shadow: 0px 10px 50px hsla(246, 98%, 50%, 0.88);

}
.flex_blackjack_row1,.flex_blackjack_row2{
    background-image:url("blackjack_image/blackjack image.jpg");
    color: white;
}  
.flex_blackjack_row1 div{
    border: 1px solid black;
    flex: 1;
    height: 350px;
    text-align: center;
    padding: 10px;
}
.flex_blackjack_row1 div img{
    width: 70px;
    margin: 2px;
}
.flex_blackjack_row3{
    display: flex;
    justify-content: center;
    margin: 10px;
}
table,tr th,tr td{
    border: solid black 1px;
    padding: 5px;
} 
.flex_blackjack_row2 button{
    padding: 10px;
}
